.root {
    -fx-background-image: url("../images/background/principal.jpg");
}

.mar{
    -fx-background-image: url("../images/background/juego.gif");
}

.instrucciones {
    -fx-background-image: url("../images/background/instrucciones.jpg");
}

.puntajes {
    
}

.boton {
    /*-fx-text-fill: rgb(254,255,159);
    /**-fx-text-fill: rgb(130,61,0);**/
    -fx-text-fill: white;
    -fx-font-family: 'Papyrus';
    -fx-font-size: 35px;
    -fx-font-weight: bolder;
    -fx-text-emphasis-color: bisque;
    -fx-color: yellow;
    -fx-background-color: rgba(25, 0, 0, 0);
    -fx-border: none;
    /**-fx-border-color: rgb(49, 89, 23);**/
    -fx-border-radius: 5;
    -fx-padding: 3 6 6 6;
}

.boton:hover {
    -fx-text-fill: yellow;
}

.botonRegresar {
    -fx-text-fill: white;
    -fx-font-family: 'Papyrus';
    -fx-font-size: 35px;
    -fx-font-weight: bolder;
    -fx-background-color: rgba(25, 0, 0, 0);
    -fx-border: none;
    -fx-border-radius: 5;
    -fx-padding: 3 6 6 6;
}

.botonRegresar:hover {
    -fx-text-fill: yellow;
}

.labelPrincipal {
    /*-fx-text-fill: rgb(130,61,0);*/
    -fx-text-fill: red;
    -fx-font-family: 'Papyrus';
    -fx-font-size: 80px;
    -fx-font-weight: bolder;
}

.jugadorDatos {
    -fx-font-family: 'Papyrus';
    -fx-font-size: 30px;
}

.table-view{
   -fx-background-color: null;
   -fx-table-cell-border-color: transparent;
   -fx-table-header-border-color: transparent;
   -fx-alignment: center-right;
}

.table-view:focused{
    -fx-background-color: transparent;
}

/* Spaltenköpfe
    Struktur column-header-background -> column-header */


.table-view .column-header-background{
    -fx-background-color: transparent;
}


.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-font-family: 'Papyrus';
    -fx-font-size: 30px;
    -fx-text-fill: red;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 3, 0.5, -2, 3);
}

.table-view .column-header {
    -fx-alignment: CENTER-RIGHT;
    -fx-background-color: transparent;
    /*-fx-background-color: linear-gradient(#131313 0%, #424141 100%);*/
}

.table-view .table-cell{
    -fx-font-family: 'Papyrus';
    -fx-font-size: 20px;
    -fx-text-fill: yellow;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 3, 0.5, -2, 3);
}

.table-view .table-column {
    -fx-alignment: CENTER;
}

.table-row-cell{
    -fx-background-color: transparent/*-fx-table-cell-border-color, #616161*/;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; 
}

.table-row-cell:odd{
    -fx-background-color: transparent/*-fx-table-cell-border-color, #424242*/;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; 
}

.table-row-cell:selected {
    -fx-background-color: transparent/*#005797*/;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}


.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: null;
}

/*.table-view > .virtual-flow > .scroll-bar:horizontal .thumb,*/
.table-view > .virtual-flow > .scroll-bar:vertical .thumb {
    
    -fx-background-color:derive(yellow,20%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 3, 0.5, -2, 3);
}

.table-view > .virtual-flow > .scroll-bar:horizontal .thumb {
    -fx-background-color: null;
}

/*
.tableview > .scroll-bar:horizontal .decrement-arrow {
    -fx-background-color: transparent;
}

.tableview .scroll-bar:horizontal .increment-arrow {
    -fx-background-color: transparent;
}
*/
.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}
